{# templates/index.html.twig #}
{% extends 'layouts/app.html.twig' %}

{% block title %}Symfony To Do List - Akosi Rico{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12" >
            <h1>To Do List</h1>
            <table class="table table-bordered table-striped table-hover tables-responsive text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Age</th>
                        <th scope="col">Occupation</th>
                    </tr>
                </thead>
                <tbody>
                   {% for person in persons %}
                    <tr>
                        <th  class="rico" data-id="{{ person.id }}">{{ person.id }}</th>
                        <td>{{ person.name }}</td>
                        <td>{{ person.age }}</td>
                        <td>{{ person.occupation }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
